html, body {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

.patient-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Fill full screen */
  overflow: hidden; /* Hide scroll */
}

.patient-form-card {
  width: 600px; /* perfect mid-size */
  max-height: 90vh; /* prevent overflow */
  overflow-y: auto; /* just in case content grows */
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  text-align: center;
  
}

.form-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 200px;
  color: #1976d2;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.full-width {
  grid-column: 1 / -1;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

button[mat-flat-button],
button[mat-stroked-button] {
  min-width: 120px;
  font-weight: 500;
}
